{{#if products}}
    {{#each products }}
        <tr>
            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center">
                    <div>
                        {{this.id}}
                    </div>
                </div>
            </td>
            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{this.name}}</p>
            </td>
            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                    S/. {{this.price}}
                </p>
            </td>
            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                <img src="{{this.thumbnail}}" alt="" height="70" width="70">
            </td>
        </tr>
    {{/each}}
{{else}}
    <tr>
        <td colspan="4" class="text-center p-20">
            <p class="mb-8">No hay productos para mostrar</p>
            <a href="/" class="mt-4 w-full bg-gradient-to-tr from-blue-600 to-indigo-600 text-indigo-100 p-2 rounded-md text-lg tracking-wide btn-add-product">Agregar Productos</a>
        </td>
    </tr>
{{/if}}